<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="globalPackages" />
    </config>

    <!-- Define the package sources, nuget.org. -->
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
        <clear />
        <!-- `key` can be any identifier for your source. -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <!-- All packages will be restored from nuget.org. -->
    <packageSourceMapping>
        <clear />
        <packageSource key="nuget.org">
            <package pattern="Aspire.Dashboard.Sdk.win-x64" />
            <package pattern="Aspire.ProjectTemplates.Msi.x64" />
            <package pattern="Aspire.Hosting" />
            <package pattern="Aspire.Hosting.AppHost" />
            <package pattern="Aspire.Hosting.Orchestration.win-x64" />
            <package pattern="Aspire.Hosting.Sdk.Msi.x64" />
            <package pattern="Aspire.Hosting.Testing" />
            <package pattern="Blazor.Bootstrap" />
            <package pattern="BlazorGoogleMaps" />
            <package pattern="CommandLineParser" />
            <package pattern="coverlet.collector" />
            <package pattern="Cronos" />
            <package pattern="DartSassBuilder" />
            <package pattern="DiffPlex" />
            <package pattern="dotnet-ef" />
            <package pattern="EFCore.BulkExtensions.Core" />
            <package pattern="EFCore.BulkExtensions.Sqlite" />
            <package pattern="EfCore.SchemaCompare" />
            <package pattern="FluentValidation" />
            <package pattern="Fractions" />
            <package pattern="Google.Protobuf" />
            <package pattern="Grpc.AspNetCore" />
            <package pattern="Grpc.AspNetCore.Server" />
            <package pattern="Grpc.AspNetCore.Server.ClientFactory" />
            <package pattern="Grpc.Core.Api" />
            <package pattern="Grpc.Net.Client" />
            <package pattern="Grpc.Net.ClientFactory" />
            <package pattern="Grpc.Net.Common" />
            <package pattern="Grpc.Tools" />
            <package pattern="HtmlAgilityPack" />
            <package pattern="Humanizer.Core" />
            <package pattern="IdentityModel" />
            <package pattern="IdentityModel.OidcClient" />
            <package pattern="KubernetesClient" />
            <package pattern="MedallionTopologicalSort" />
            <package pattern="microsoft.*" />
            <package pattern="Mono.TextTemplating" />
            <package pattern="MSTest" />
            <package pattern="MSTest.Analyzers" />
            <package pattern="MSTest.TestAdapter" />
            <package pattern="MSTest.TestFramework" />
            <package pattern="MudBlazor" />
            <package pattern="Namotion.Reflection" />
            <package pattern="NetTopologySuite" />
            <package pattern="NetTopologySuite.IO.SpatiaLite" />
            <package pattern="Newtonsoft.Json" />
            <package pattern="Newtonsoft.Json.Bson" />
            <package pattern="NJsonSchema" />
            <package pattern="NJsonSchema.Annotations" />
            <package pattern="NJsonSchema.NewtonsoftJson" />
            <package pattern="NJsonSchema.Yaml" />
            <package pattern="NSwag.Annotations" />
            <package pattern="NSwag.AspNetCore" />
            <package pattern="NSwag.Core" />
            <package pattern="NSwag.Core.Yaml" />
            <package pattern="NSwag.Generation" />
            <package pattern="NSwag.Generation.AspNetCore" />
            <package pattern="OneOf" />
            <package pattern="OpenTelemetry" />
            <package pattern="OpenTelemetry.Api" />
            <package pattern="OpenTelemetry.Api.ProviderBuilderExtensions" />
            <package pattern="OpenTelemetry.Exporter.OpenTelemetryProtocol" />
            <package pattern="OpenTelemetry.Extensions.Hosting" />
            <package pattern="OpenTelemetry.Instrumentation.AspNetCore" />
            <package pattern="OpenTelemetry.Instrumentation.Http" />
            <package pattern="OpenTelemetry.Instrumentation.Runtime" />
            <package pattern="Polly.Core" />
            <package pattern="Polly.Extensions" />
            <package pattern="Polly.RateLimiting" />
            <package pattern="ProjNET" />
            <package pattern="RestSharp" />
            <package pattern="runtime.*" />
            <package pattern="Selenium.Support" />
            <package pattern="Selenium.WebDriver" />
            <package pattern="Serilog" />
            <package pattern="Serilog.Extensions.Logging" />
            <package pattern="Serilog.Settings.Configuration" />
            <package pattern="Serilog.Sinks.Console" />
            <package pattern="Serilog.Sinks.File" />
            <package pattern="SQLitePCLRaw.bundle_e_sqlite3" />
            <package pattern="SQLitePCLRaw.core" />
            <package pattern="SQLitePCLRaw.lib.e_sqlite3" />
            <package pattern="SQLitePCLRaw.provider.e_sqlite3" />
            <package pattern="Swashbuckle.AspNetCore" />
            <package pattern="Swashbuckle.AspNetCore.Swagger" />
            <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
            <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
            <package pattern="system.*" />
            <package pattern="Telegram.Bot" />
            <package pattern="xunit" />
            <package pattern="xunit.*" />
            <package pattern="YamlDotNet" />
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
